.App {
  text-align: center;
}
body{
  background-color:black;
}
button {
  border-radius: 8px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: large;
  padding: 16px 32px;
  transition: 0.3s;
  background-color: rgb(247, 221, 225);
  margin-bottom: 64px;
}

button:hover {
  background-color: rgb(192, 81, 98);
  color: snow;
}


img{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  color: white;
  font-size: 100px;
}

.fortune {
  background-color: rgba(50, 50, 50, 0.7);
  font-size: xx-large;
  color: snow;
  width: fit-content;
  margin: auto;
  border-radius: 16px;
  padding: 32px;
}